body, html {
    height: 100%;
    width: 100%;
    padding 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    margin: 10px;

}
.message-info {
    background-color: lightblue;
    padding: .5em;
    border: 1px lightgray;
    border-radius: 5px;

}.message-success {
    background-color: lightgreen;
    padding: .5em;
    border: 1 px lightgray;
    border-radius: 5px;
 }

 .message-warning {
     background-color: lightyellow;
     padding: .5em;
     border: 1 px lightgray;
     border-radius: 5px;
 }

 .message-error {
     background-color: palevioletred;
     padding: .5em;
     border: 1 px lightgray;
     border-radius: 5px;
 }